body{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* padding-right: 10px; */
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding:1rem;
    justify-content: center;
    align-content: center;
    
}
.product{
    background: white;
    width:80%; 
    border:1px rgb(224, 223, 223) solid;
    gap:100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    justify-content:stretch;
    

}
#delete-item-from-cart{
    background-color: rgb(92, 164, 205);
    color:white;
    border: none;
    border-radius: 10px;
    height:30px;
    width:70px;
}
.delete{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.img{
    display: flex;
    /* width:30%; */
    flex-direction: column;
}
#product-picture{
    width:150px;
    height:150px;
}
.product-details{
    display: flex;
    gap:1.5rem;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items:center;
    /* background-color: yellow; */
}
#id,#price{
    width:30%;
    display: flex;
    flex-wrap: wrap;
}
.description{
    width:40%;
    display: flex;
    flex-wrap: wrap;
}
button{
    background-color:  rgb(92, 164, 205);
    padding:30px 10px;
    color:white;
    border:none;
    border-radius: 0.5rem;
    width:50%;
}
.button{
    padding:2rem;
    width: 70%;
    display: flex;
    justify-content: center;

}


