<!-- <p>orders works!</p> -->
<div class="products" >
    
    <div class="product" *ngFor="let product of cart |async">
            
        <div class="img">
                <img id=product-picture src={{product.Product_image}} alt="">
        </div>
        <div class="product-details">
            
            <h3 id="id"> {{product.Product_name}}</h3>
            <p id="description">Description: {{product.Product_description}}</p>
            <h4 id="price">Price: {{(product.Product_price)*product.count}}</h4>
        </div> 
    </div>
    <div class="button">
        <button><span style="font-size: large;"> Cancel Order</span></button>
    </div>
     
</div>