<div class="navbar">
    <div class="logo">
        <h1><a [routerLink]="['']" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">Dukani</a></h1>
    </div>
    <div class="categories">
        <p><a [routerLink]="['/category']" routerLinkActive="active">Categories</a></p>
    </div>
    <div class="search">
        <input type="text">
        <p>Search Icon</p>
    </div>
    <div class="account">
        <p>Icon</p>
        <p><a [routerLink]="['/signup']" routerLinkActive="active">Account</a></p>
    </div>
    <div class="cart">
       <p>cart Icon</p>
        <P><a [routerLink]="['/cart']" routerLinkActive="active">Cart</a></P>
    </div>
</div>

<router-outlet></router-outlet>


