<!-- <div class="school-fees-content" *ngIf="students.length">

    <div class="buttons">
        <button (click)="changeStatus('All')"> All</button>
        <button (click)="changeStatus('Cleared')">Cleared</button>
        <button (click)="changeStatus('Arrears')">Arrears</button>
    </div>
    
    <div class="student-detail-content" *ngFor="let student of students | customPipe: filterBalance" >
        <p>Student Name: {{student.name}}</p>
        <p>Student Id:{{student.id}}</p>
        <p [ngClass]="{'Arrears': student.feesBalance>0}">Fee Balance: {{student.feesBalance|currency}}</p>
        
    </div>
    </div>
     -->


    
    