body{
    padding:0;
     /* background: rgb(236, 240, 241); */
     background-color: white
     /* background-color: #fff; */

}

.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height:2.4rem; */
    align-items: center;

}
.search,.cart,.account{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.quicksale{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:white;
    margin:0;
    padding-bottom:1rem;
    border-bottom:1px rgb(224, 223, 223) solid;

}

.buynow{
    background-color: rgb(92, 164, 205);
    color:white;
    padding:3%;
    display:flex;
    justify-content:center;
    border-radius: 10px;
}
.categories{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom:1rem;
    border-bottom:1px rgb(224, 223, 223) solid;

}
.category{
   background-color: rgb(92, 164, 205);
    width:100px;
    height:25px;
    border-radius: 5px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;

   
}
.intro{
    width:100%
}

.quicksale>.hero{
    width:100%;
    border:1px solid black;
    height:230px;
}
/* .title{
    border-bottom:1px rgb(224, 223, 223) solid;
} */
.products{
    display: flex;
    gap:50px;
    padding:1rem;
    flex-wrap: wrap;
}

.product{
    background: white;
    width:260px;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex-direction:column;
    align-items: center;
    border:1px rgb(92, 164, 205) solid;
}
.prod{
    width:150px;
    height:150px;
}