<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="top">
    </div>
<div class="container">
    <div class="quicksale">
        
            <img class='hero' src="https://img.freepik.com/free-vector/template-banner-online-store-with-shopping-cart-with-purchases-boxes-delivery-from-supermarket-vector-illustration_548887-104.jpg?w=2000" alt="">
        
    </div>
    <div class="categories">
        <div class='category' id="books">
            <p>Books</p>
        </div>
        <div class='category' id="clothes">
            <p>Clothes</p>
        </div>
        <div class='category' id="grocery">
            <p>Grocery</p>
        </div>
        <div class='category' id="shoes">
                <p>Shoes</p>
        </div>
        <div class='category' id="electronic">
            <p>Electronic</p>
        </div>
        <div class='category' id="kids">
            <p>Kids</p>
        </div>
    </div>
    
    <div class="products |async" *ngIf="true">
        <div class="product" *ngFor="let product of products | async">
            <img class="prod" src={{product.Product_image}} />
            <p id="id" style="font-weight:bolder">{{product.Product_name}}</p>
            <p id="description">Description: {{product.Product_description}}</p>
            <h4 id="price">Price: {{product.Product_price |currency }} </h4>
        </div>
       
    </div>
    <ng-template #noProducts>
        <p>No Products</p>
    </ng-template>
</div>
</body>
</html>
