<body>
 
<div class="products" >
    <div class="product" *ngFor="let product of cart | async">
        <div class="product-details">

            <div class="img">
                    <img id=product-picture src={{product.Product_image}} alt="">
            </div>
            <div class="product-details">
                <h3 id="id">{{product.Product_name}}</h3>
                <p id="description">Description: {{product.Product_description}}</p>
                <p> <span style="font-weight:bold">Price:</span>{{product.Product_price| currency }}</p>
            </div>
            <div class="delete" (click)="deleteFromCart(product.Product_id)">
                <button id="delete-item-from-cart"  (click)=" delItemInCart(product.Product_id)">Delete</button>
            </div>
            
        </div>  
        <div class="total">
            <p>Total Cost For Item: <span style="font-weight: bold; color:rgb(9, 145, 145)">{{(product.Product_price)*product.count| currency }}</span></p>   
        </div>
        <div class="inc-dcr-button"> 
           
            <div class="inc">
                <p (click)="incItemInCart(product.Product_id)">+</p> 
            </div>

            <div class="count" >
                <p><span style="font-weight:bold">{{product.count}}</span></p>
            </div>
            <div class="dcr">
                <p (click)="decItemInCart(product.Product_id)">-</p>
            </div>
           
            
        </div>

        
    
    </div>


    <div class="checkout">
        <div class="summary">
            <p>CHECKOUT SUMMARY</p>
            
        </div>
        <div class="total">
            <P>Total is:  </P>
        </div>.
        <div class="checkout-button" >
            <P><a (click)=" delFromCart()">Checkout</a></P>
        </div>
    </div>
</div>
</body>

<!-- <router-outlet></router-outlet> -->


